<div  *ngIf="section =='landing'">
  <nav class="navbar navbar-expand-lg bg-warning">
   <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <h1 class="fs-1 fw-bold">P<sub>H</sub><sup><mat-icon>eco</mat-icon></sup></h1>
    </a>
    <div class="sign-in">
      <a href="/form/login">
        <app-button buttonSection="frontend" text="Sign In"></app-button>
      </a>
  </div>
   </div>
  </nav>
</div>

<div  *ngIf="section == 'home'" class="{{val}}">
  <nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid m-0">
      <a class="navbar-brand" href="/user/{{params}}">
        <h1 class="fs-1 fw-bold">P<sub>H</sub><sup><mat-icon>eco</mat-icon></sup></h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="user/{{params}}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Store
              </a>
              <ul class="dropdown-menu bg-warning" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="user/{{params}}/store/pharmacy">Pharmacy</a></li>
                <hr class="dropdown-divider">
                <li><a class="dropdown-item" href="user/{{params}}/store/supermarket">Supermarket</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="user/{{params}}/inventory-sales">Inventory</a>
          </li>
        </ul>   
        <div>
        <span>Welcome, {{name}}</span>  
        </div>
        </div>
    </div>
  </nav>
</div>


