<div>
    <mat-paginator [length]="this.medlist.length"
              [pageSize]="10"
              [pageSizeOptions]="[10,20,50,100]"
              (page)="onPageChange($event)">
    </mat-paginator>

</div>
<div class="table-responsive" *ngIf="condition">
    <table class="table text-center table-danger table-striped">
        <thead>
            <th>Company Name</th>
            <th>Product Name</th>
            <th>Item Code</th>
            <th>Price(&#8358;)/1</th>
            <th>Quantities Available</th>
            <th>Expiry Date</th>
            <th>Manufacture Date</th>
            <th>Total Amount</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of pageSlice;let i=index">
       <td>{{item.companyName}}</td>
       <td>{{item.name}}</td>
       <td>{{item.itemCode}}</td>
       <td>{{item.price | currency:'NGN':'&#8358;':'1.2-2'}}</td>
       <td>{{item.qtty}}</td>
       <td>{{item.exp}}</td>
       <td>{{item.mfd}}</td>
       <td>{{item.price * item.qtty | currency:'NGN':'&#8358;':'1.2-2'}}</td>
       <td><button class="admin btn" (click)="openDialog(i)">
        <mat-icon>
        edit
            </mat-icon>
        </button></td>        
        </tr>
    </tbody>
    </table>
</div>
<div *ngIf="cond">
    <h3>No Items found</h3>
</div>