
<div class="container-fluid m-0 p-0">
    <div style="height:400px;">
<div class="col-lg-6">
    <div class="card">
            <!-- <h3>BOLAJI ODUMAKIN</h3>
            <small>
                <span>Age: {{}}</span>
            </small>
            <small>
                <span>Username: {{}}</span>
            </small>
            <small>
                <span>E-Mail: {{}}</span>
            </small>
            <small>
                <span>Phone Number: {{}}</span>
            </small> -->
    </div>
</div>
<div class="col-lg-6">
    <div style="width: 300px;height:300px;"  class="image-frame d-flex justify-content-center align-items-center rounded">
        <img src="../../../../assets/images/admin/R.jfif" alt="user-image" width="280px" height="280px" class="rounded">
    </div>
</div>
    </div>
</div>
