
    <div class="row m-0 p-0">
        <h3 class="mt-3">INSIGHT</h3>
                <div class="col-md-4 col-sm-4 mt-3" *ngFor="let item of dashList">
                    <card-content title="{{item.title}}" value="{{item.value}}" cardTitle="insight"></card-content>
                </div>
        </div>    

    <div class="row w-100 m-0 p-0 my-5">
        <h3 class="mt-3">REPORT</h3>
        <div>
            <card-content cardTitle="report"></card-content>
        </div>
    </div>

    <div class="container-fluid my-5">
        <h3 class="my-3">ACTIVITY</h3>
        <div class="row m-0 p-0 w-100">
            <div class="col-md-7 mt-3">
                <user-activity user="all"></user-activity>
            </div>
            <div class="col-md-5 mt-3 py-3">
                <card>
                    <summary></summary>
                </card>
            </div>
        </div>
    </div>

