
<div *ngIf="section=='landing'">
    <div class="nv">
        <app-navbar section="landing"></app-navbar>
    </div>
    <div>
        <div class="pb-5">
            <div class="row m-0 py-3 w-100 bg-warning" id="roww">
                <div class="col-sm-6 d-flex justify-content-center align-items-center">
                    <div class="manage">
                        <h1 class="fw-bold">Managing your store becomes a lot easier</h1>
                        <span>
                            Pharmatech is a well designed interactive and expulsive management website to
                            keep track of your inventory activities up to date.
                        </span>
                        <div class="mt-3">
                            <a href="/form/login">
                                <app-button buttonSection="frontend" text="Sign In"></app-button>
                              </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-center align-items-center" id="img">
                        <div>
                            <img class="img1 w-100" src="../../../../assets/images/frontend/pexels-pixabay-208518-removebg-preview1.png" alt="">
                        </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container-fluid mt-3 mx-auto take-care">
                    <div class="text-center" id="wedo">
                        <h1>Taking care of your needs</h1>
                    </div>
                    <div class="row p-0 m-0 w-100 mt-5 mx-auto">
                        <div class="col-lg-4  d-flex justify-content-center align-items-center">
                            <div class="card">
                                <div class="inner-card">
                                    <h4 class="mb-3 fw-bold">Sorting your store easily</h4>
                                    <span>
                                        This is a well programmed website that ease the task of the users, by helping them to sort their items with ease.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4  d-flex justify-content-center align-items-center">
                            <div class="card">
                                <div class="inner-card">
                                    <h4 class="mb-3 fw-bold">Sorting your store easily</h4>
                                    <span>
                                        This is a well programmed website that ease the task of the users, by helping them to sort their items with ease.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4  d-flex justify-content-center align-items-center">
                            <div class="card">
                                <div class="inner-card">
                                    <h4 class="mb-3 fw-bold">Sorting your store easily</h4>
                                    <span>
                                        This is a well programmed website that ease the task of the users, by helping them to sort their items with ease.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-5" id="about">
                            <h1 class="text-center">About Us</h1>
                            <p class="fw-bold">
                               Pharmatech is an effective inventory management system that helps drugs store or 
                               pharmacy to keep track, monitor and analyse the record of drugs.
                            </p>
                            <p class="fw-bold">
                                Pharmatech supports point of sales, inventory record, and management, statistical analysis,
                                account report and a well-designed user interaction.
                            </p>
                    </div>
            </div>
        </div>
    </div>
    
    <div class="mt-5">
        <app-footer section="landing"></app-footer>
    </div>
</div>
<div  *ngIf="section=='home'">
    <div class="pb-5">
        <div class="row m-0 py-3 w-100 bg-warning" id="roww">
            <div class="col-sm-6 d-flex justify-content-center align-items-center">
                <div class="manage">
                    <h1 class="fw-bold">Managing your store becomes a lot easier</h1>
                    <span>
                        Pharmatech is a well designed interactive and expulsive management website to
                        keep track of your inventory activities up to date.
                    </span>
                    <div class="mt-3">
                        <a href="user/{{params}}/inventory-sales">
                            <app-button buttonSection="frontend" text="Explore"></app-button>
                          </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-flex justify-content-center align-items-center" id="img">
                    <div>
                        <img class="img1 w-100" src="../../../../assets/images/frontend/pexels-pixabay-208518-removebg-preview1.png" alt="">
                    </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container-fluid mt-3 w-75 mx-auto">
                <div class="text-center" id="wedo">
                    <h1>Taking care of your needs</h1>
                </div>
                <div class="row p-0 m-0 w-100 mt-5 mx-auto">
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <div class="card">
                            <div class="inner-card">
                                <h4 class="mb-3 fw-bold">Sorting your store easily</h4>
                                <span>
                                    This is a well programmed website that ease the task of the users, by helping them to sort their items with ease.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <div class="card">
                            <div class="inner-card">
                                <h4 class="mb-3 fw-bold">Sorting your store easily</h4>
                                <span>
                                    This is a well programmed website that ease the task of the users, by helping them to sort their items with ease.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <div class="card">
                            <div class="inner-card">
                                <h4 class="mb-3 fw-bold">Sorting your store easily</h4>
                                <span>
                                    This is a well programmed website that ease the task of the users, by helping them to sort their items with ease.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-5" id="about">
                        <h1 class="text-center">About Us</h1>
                        <p class="fw-bold">
                            Pharmatech is an effective inventory management system that helps drugs store or 
                            pharmacy to keep track, monitor and analyse the record of drugs.
                         </p>
                         <p class="fw-bold">
                             Pharmatech supports point of sales, inventory record, and management, statistical analysis,
                             account report and a well-designed user interaction.
                         </p>
                </div>
        </div>
    </div>
</div>