
@media screen and (min-width:1440px) {
    div.chk{
        width: 100%;
        max-width:1440px;
    }
    div.xxl{
        display: flex;
        justify-content: center;
        width:100%;
    }
}