$text-color: #902F4C;

div.rounded-circle{
  border: 2px solid $text-color;
}

mat-drawer {
  background-color: $text-color !important;
}
input:focus,select:focus{
  box-shadow: none !important;
}

button.admin{
background-color: transparent;
}
button.admin:hover{
   background-color: $text-color !important;
   color: white !important;
 }
 div.carddeco::before,div.carddeco::after{
  background-color: rgba($color: $text-color, $alpha: 0.82);
 }
 div.admin{
  border: 2.75px solid $text-color !important;
  color: $text-color !important;
}
label.admin,h1.admin,h6.admin,span.admin,small{
  color: $text-color !important;
}

::-webkit-scrollbar{
  width: 6px !important;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient($text-color,white) !important;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(white,$text-color) !important;
}