$text-color: #902F4C;

div.rounded-circle{
  border: 2px solid $text-color;
}

mat-drawer {
  background-color: $text-color !important;
}

button.admin{
border: 2px solid $text-color;
background-color: transparent
}
button.admin:hover{
   background-color: $text-color !important;
   color: white !important;
   border-radius: 10px;
 }
 div.carddeco::before,div.carddeco::after{
  background-color: rgba($color: $text-color, $alpha: 0.82);
 }
 input.admin{
  border: 2.75px solid $text-color !important;
  color: $text-color !important;
}
label.admin,h1.admin,h6.admin,span.admin{
  color: $text-color !important;
}
