<div>
    <h2 mat-dialog-title>Add Drugs</h2>
    <form [formGroup]="form" (submit)="navigate()">
        <div class="mt-3">
            <div>
                <label>Name of Product</label>
            </div>
           <input type="text" class="admin form-control" formControlName="name">
        </div>
        <div class="mt-3">
            <div>
                <label>Company's Name</label>
            </div>
           <input type="text" class="admin form-control"  formControlName="companyName">
        </div>
        <div class="mt-3">
            <div>
                <label>Bar Code</label>
            </div>
           <input type="number" class="admin form-control"  formControlName="itemCode">
        </div>
        <div class="mt-3">
            <div>
                <label>Quantities</label>
            </div>
           <input type="number" class="admin form-control"  formControlName="qtty">
        </div>
        <div class="mt-3">
            <div>
                <label>Size</label>
            </div>
           <input type="text" class="admin form-control"  formControlName="size">
        </div>
        <div class="mt-3">
            <div>
                <label>Form</label>
            </div>
            <select class="form-select" formControlName="forms">
                <option *ngFor="let item of selectlist"
                value='{{item}}'
                >{{item}}
            </option>
            </select>
            
        </div>
        <div class="mt-3">
            <div>
                <label>Price</label>
            </div>
           <input type="number" class="admin form-control"  formControlName="price">
        </div>
        <div class="mt-3">
            <div>
                <label>Manufacturing Date</label>
            </div>
           <input type="date" class="admin form-control"  formControlName="mfd">
        </div>
        <div class="mt-3">
            <div>
                <label>Expiry Date</label>
            </div>
           <input type="date" class="admin form-control"  formControlName="exp">
        </div>
        <div class="mt-4 mb-5 d-flex justify-content-between">
            <button class="admin btn d-block">Update</button>
        </div>
    </form>
</div>
