<div *ngIf="inputType === 'input'">
    <div class="my-2">
        <label class="{{mclass}}">{{label}}</label>
    </div>
    <div>
        <input type="{{type}}" class="{{mclass}} form-control" 
        [value]='value' 
        (input)= 'onChange($any($event.target).value)'
        (blur)='onTouched()'
        accept="{{getvalue}}"
        required 
        >
    </div>
</div>

<div *ngIf="inputType === 'select'">
    <div>
        <label class="fw-light">{{label}}</label>
    </div>
    <select class="form-select {{mclass}}">
        <option *ngFor="let item of selectlist"
        [value]='value' 
        (change)= 'onChange($any($event.target).value)'
        (blur)='onTouched()'
        >{{item}}
    </option>
    </select>
</div>

