<div>
  <div class="container-fluid w-0 p-0 m-0">
    <div class="mt-5 row w-100 align-items-center">
      <div class="col-md-3 mt-3"></div>
      <div class="col-md-5 mt-3">
        <form action="" [formGroup]="formdata" class="d-flex">
          <div class="admin d-flex w-100">
            <input
            type="text"
            class="form-control border border-0"
            placeholder="Search for Drugs"
            formControlName="search"
          />
          <app-button buttonSection="admin" icon="search"></app-button>
          </div>
        </form>
      </div>
      <div class="col-md-4 mt-3 d-flex justify-content-end">
        <app-button buttonSection="admin" icon="add" text="Drug" (mclick)="openDialog()"></app-button>
      </div>
    </div>
    <div class="container-fluid mt-5 ">
      <pharmacylist></pharmacylist>
    </div>
  </div>
</div>
