:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

mat-drawer {
  // width: 5% !important;
  border-left: none !important;
}
mat-drawer-content {
  height: 100vh;
  background-color: white;
}

// media queries

@media (max-width: 991px) {
  // mat-drawer {
  //   width: 100% !important;
  // }
}
@media screen and (min-width:1440px) {
  div.chk{
      width: 100%;
      max-width:1440px;
  }
  div.xxl{
      display: flex;
      justify-content: center;
      width:100%;
  }
}