/* You can add global styles to this file, and also import other style files */
$text-color: #502F4C;
/* Importing Bootstrap SCSS file. */
body,html{width: 100%;margin: 0;}
*{
margin: 0;
padding: 0;
text-decoration: none;
font-family: 'Ubuntu', sans-serif;
    }

input{
    border: 2.75px solid $text-color !important;
    color: $text-color !important;
}


::-webkit-scrollbar{
    width: 6px;
  }
  ::-webkit-scrollbar-thumb{
    background: linear-gradient($text-color,white);
  }
  ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(white,$text-color);
  }

@import '~bootstrap/scss/bootstrap';
