/* You can add global styles to this file, and also import other style files */
$text-color: #502F4C;
/* Importing Bootstrap SCSS file. */
body,html{width: 100%;margin: 0;}
:root{
  --color:#502F4C;
}

*{
margin: 0;
padding: 0;
text-decoration: none !important;
list-style-type: none;
font-family: 'Ubuntu', sans-serif;
scroll-behavior: smooth !important;
  }

input{
    border: 2.75px solid $text-color !important;
    color: $text-color !important;
}




@import '~bootstrap/scss/bootstrap';
