<mat-nav-list>
    <div class="profile-card">
      <div class="header">
          
       
        <!-- <img src="../../../../assets/lawkonetlogo.jpeg" alt="" /> -->
      </div>
      <div class="mat-title d-flex justify-content-between">
        <div (click)="sideBarToggle()">PHARMACYAPP</div>
        <div class="closebtn">
          <button (click)="sideBarToggle()">&times;</button>
        </div>
      </div>
    </div>
    <div>
      <a mat-list-item class="mt-3" routerLink="/admin/{{item.link}}" (click)="sideBarToggle()"
        *ngFor="let item of sidelist">
          <mat-icon>{{item.icon}}</mat-icon>
          <span class="ps-3 text-white">{{item.text}}</span>
      </a>
    </div>
  </mat-nav-list>