:host {
    mat-icon {
      vertical-align: middle;
      color: #fff;
    }
  }
   div.closebtn{
      font-size: 3rem 
   }
  .profile-card {
    padding: 15px 15px 0px 15px;
    width: 100%;
    
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
