<div  *ngIf="section=='landing'" class="bg-warning py-5">
    <div class="container-fluid d-flex justify-content-center align-items-center height" style="height: 400px;">
        <div class="row m-0 p-0 w-75 height">
            <div class="col-sm-3 d-flex justify-content-center align-items-center">
                 <div>
                    <div>
                        <h1 class="fs-1 fw-bold">P<sub>H</sub><sup><mat-icon>eco</mat-icon></sup></h1>
                       </div>
                 </div>
            </div>
            <div class="col-sm-9 m-0 p-0 d-flex justify-content-center align-items-center">
                <div class="row w-100 m-0 p-0">
                    <div class="col-sm-4">
                        <ul>
                           <li class="fw-bold fs-4">Quick Links</li>
                            <a href="/"><li>Home</li></a>
                            <a href="#wedo"><li>What we do</li></a>
                            <a href="#about"><li>About Us</li></a>
                            <a href="/form/login"><li>Sign In</li></a>
                            <a href="/admin"><li>Admin</li></a>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul>
                            <li class="fw-bold fs-4">Quick Links</li>
                            <a href="#"><li>Home</li></a>
                            <a href="#"><li>About</li></a>
                            <a href="#"><li>What we do</li></a>
                            <a href="#"><li>Sign In</li></a>
                            <a href="#"><li>Admin</li></a>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul>
                            <li class="fw-bold fs-4">Quick Links</li>
                            <a href="#"><li>Home</li></a>
                            <a href="#"><li>About</li></a>
                            <a href="#"><li>What we do</li></a>
                            <a href="#"><li>Sign In</li></a>
                            <a href="#"><li>Admin</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="mb-5">
            <h2 class="fw-bold fs-4 text-decoration-underline">Contact</h2>
            <li class="li my-2"><mat-icon>mail</mat-icon> <span class="ms-3 fw-bold">fattyolaojo@gmail.com</span></li>
            <li class="li"><mat-icon>phone</mat-icon> <span class="ms-3 fw-bold">+234 - 815 - 310 - 2810</span></li>
   </div>
   <div class="fw-bold fs-5">
    <span>&copy; 2022</span><span class="ms-2">Designed by FattyAcid</span>
   </div>
    </div>
</div>


<div  *ngIf="section=='home'" class="bg-warning py-5">
    <div class="container-fluid d-flex justify-content-center align-items-center height" style="height: 400px;">
        <div class="row m-0 p-0 w-75 height">
            <div class="col-sm-3 d-flex justify-content-center align-items-center"  >
                <div>
                    <div>
                        <h1 class="fs-1 fw-bold">P<sub>H</sub><sup><mat-icon>eco</mat-icon></sup></h1>
                       </div>
                 </div>
            </div>
            <div class="col-sm-9 m-0 p-0 d-flex justify-content-center align-items-center">
                <div class="row w-100 m-0 p-0">
                    <div class="col-sm-4">
                        <ul>
                           <li class="fw-bold fs-4">Quick Links</li>
                            <a href="user/{{params}}/"><li>Home</li></a>
                            <a href="user/{{params}}/store/pharmacy"><li>Pharmacy</li></a>
                            <a href="user/{{params}}/store/supermarket"><li>Supermarket</li></a>
                            <a href="user/{{params}}/inventory-sales"><li>Inventory</li></a>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul>
                            <li class="fw-bold fs-4">Quick Links</li>
                            <a href="#"><li>Home</li></a>
                            <a href="#"><li>About</li></a>
                            <a href="#"><li>What we do</li></a>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul>
                            <li class="fw-bold fs-4">Quick Links</li>
                            <a href="#"><li>Home</li></a>
                            <a href="#"><li>About</li></a>
                            <a href="#"><li>What we do</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="mb-5">
            <h2 class="fw-bold fs-4 text-decoration-underline">Contact</h2>
            <li class="li my-2"><mat-icon>mail</mat-icon> <span class="ms-3 fw-bold">fattyolaojo@gmail.com</span></li>
            <li class="li"><mat-icon>phone</mat-icon> <span class="ms-3 fw-bold">+234 - 815 - 310 - 2810</span></li>
   </div>
   <div class="fw-bold fs-5">
    <span>&copy; 2022</span><span class="ms-2">Designed by FattyAcid</span>
   </div>
    </div>  
</div>