<div class="container d-flex justify-content-center align-items-center" style="height: 100%">
    <div class="card">       
        <!-- <mat-progress-bar mode="indeterminate" class="{{ progressbar }}"></mat-progress-bar> -->
        <div class="container">
             <form [formGroup]="form" (submit)="navigate()">
                 <div class="my-5">
                     <div class="text-center mt-4">
                         <h1>Create A User</h1>
                         <h6 class="my-3">New User? Create a User</h6>
                     </div>
                     <div class="form-group mt-4" *ngFor="let item of formList">
                             <app-input inputType='input' label='{{item.label}}' formControlName='{{item.form}}' type='{{item.type}}'></app-input>
                       </div>
                       <div class="my-4" *ngIf="!form?.invalid">
                        <app-button buttonSection="admin" text='Login' mclass="text-center"></app-button>
                    </div>
                 </div>
             </form>
         </div>
         <div [ngClass]="{'overlay': cond}">     
    </div>
</div>